/* ---- TITLE ---- */
/*
.sub-title {
    display: block;
    letter-spacing: 4px;
    color: #d1d1d1;
    font-size: 14px;
    margin-bottom: 8px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    background: linear-gradient(90deg, #ffffff, #f5b34d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title span {
    color: #f5b34d;
}
*/